body {
    background-color: #302C42;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav{
    background: #302C42;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.10);
}
.home{
    flex-direction: row;
    color: white;
    display: flex;
    align-items: center;
}
a.contactbtn:active,
a.contactbtn:visited,
a.join:active,
a.join:visited {
    color: inherit; /* or any other color you prefer */
}
.signoutbtn{
    display: none;
}
.profilebtn {
    display: none;
}
.logo{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 2%;
}
.topdiv{
    margin-left: auto;

}
.topmenu {
    color: lightgray;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    text-decoration:none;
  
  }
.topmenu:hover {
    color: white;
    text-decoration: underline;
  }

.topdiv {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-right: 2%;

  }

  .topdiv2{
    display: none;
    overflow: hidden;
    right: -100%;
    transition: right 0.5s ease-in-out;
  }
  .contact{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .contactbtn{
    border: solid;
    border-color: aqua;
    border-radius: 40px;
    border: 2px solid #FFF;
    padding: 15px 30px;
	  cursor: pointer;
    text-decoration: none;

    
}
.login-container{
    display: none;
}

.join{
    padding: 15px 30px;
        border: transparent;
        border-radius: 40px;
        background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
        cursor: pointer;
        text-decoration: none;
    }

.hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;
        z-index: 2; /* Ensure the hamburger menu is above other elements */
    }
    
.bar {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 4px 0;
        transition: 0.3s;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
.main {
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
    margin-top: 5%;
    }

.textimg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5%;
    color: white;
}
.text h1 {
    font-size: 56px;
}
.text{
    text-align: left;
    justify-items: center;
    width: 400px;
    height: auto;
}
.text p {
    font-size: 26px;
}   
.imag{
    align-content: center;
    justify-content: center;

}
.img{
    max-width: 100%;
    height: auto;
    border-radius: 25% 15% 15% 60%;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.10);
    object-fit: contain;
}
.buttons{
    margin: 0 5%;
    display: flex;
    align-items: center;
    gap: 2.5%;
}
    .rectangle-5{
        background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
        border-radius: 40px;
        padding: 15px 30px;
        height: auto;
    }

.explore{
    display: flex;
    flex-direction: column;
    margin: 0 5%;
}

.titleex{
    color: white;
    font-size: 26px;
}

.slider{
    display: flex;
    aspect-ratio: 19 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75 hsla(0%, 0%, 0%, 0.25);
    border-radius: 1.5rem;
  }
  .slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    width: 8%;
    height: auto;
  }
  
  .slider-nav{
    position: relative;
    display: flex;
    column-gap: 1rem;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    justify-content: center;
  
  }
  .slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity easy 250ms;
  }
  
  .slider-nav a:hover{
    opacity: 1;
  }

.all_skills {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
  }
  
  .skill {
    border: 1px solid rgba(128, 128, 128, 0.158);
    width: auto;
    height: 150px;
    display: block;
    border-radius: 6px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    font-size: 20px;
    background-color: #302C42;
    box-shadow: 0 3px 10px #302c42;
    transition: all 0.3s ease;
  }
.description{
    display: none;
}
  .skills{
    margin: 0 5%;
  }
  .skills h1{
    color: white;
    font-size: 26px;
  }
  .skill img {
    height: 100px;
    width: auto;
    align-items: center;
  }
  
  .skills h6 {
    align-items: center;
    font-size: 20px;
    margin-block-start: 8px;
    margin-block-end: 5px;
    font-weight: bold;
    color:white;
  } 
  
  .skills p {
    align-items: center;
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin-block-start: 5px;
    margin-block-end: 5px;
  } 

  @media screen and (max-width: 975px) {
    .home {
        justify-content: space-between;
    }

    .topdiv {
        display: none; 
    }
    .topdiv.active{
            display: flex;
            flex-direction: column;
            background-color: wheat;
        }

    .topdiv2.active{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: end;
        top: 0;
        right: 0;
        width: 100%;
        height: auto;
        background-color: #8176afaa;
        backdrop-filter: blur(10px);
        padding-top: 10%;
        border-radius: 0px 0px 0px 25px;
        right: 0;
        
    }
    
    .topdiv2 .topmenu{
        margin-right: 5%;
        color: white;
    }
    .contact {
        display: none;
    }
    .logo {
        justify-content: center;
        padding: 0;
        gap: 1rem;
        margin-left: 10%;
    }
    .hamburger {
        display: block;
        cursor: pointer;
        margin-left:auto;
        padding-right: 3rem;
        align-items: center;
    }
    .hamburger .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: #ffffff;
    }
    .main{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        max-width: 100%;
        height: auto;
        margin: 0 5%;

    }
    .textimg{
        flex-direction: column-reverse;
        height: auto;
        justify-items: center;
        align-items: center;
    }
    .text{
        width: 100%;
        text-align: center;
    }
    .text h1{
        font-size:xx-large;
    }

    .text p{
        font-size:large;
    }
    .buttons{
        margin: 0;
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
    .titleex{
        text-align: center;
    }
    .arrowimg{
        display: none;
    }

  }