body {
  background-color: #302C42;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.forms{
  display: flex;
  flex-direction: row;
}

.contact-form {
  margin: 0 auto;
  padding: 50px;
  border: 1px solid rgba(204, 204, 204, 0.218)fff;
  border-radius: 5px;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  height: auto;
  transition:ease-in 0.1s;
}

.contact-form h2 {
  text-align: center;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="password"],
.contact-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.contact-form button[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color:#302C42;
  color: white;
  cursor: pointer;
  width: 100%;
}

.contact-form button[type="submit"]:hover {
  background-color: #45a049;
}

@media screen and (max-width: 480px) {
  .contact-form {
    padding: 20px;
    transition:ease-in-out 0.1s;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .contact-form button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:#302C42;
    color: white;
    cursor: pointer;
    width: 100%;
  }
}

.switch{ 
  text-decoration: none;
  color:white;
  font-size: 20px;
}